<div class="conteiner">
    <div class="row mt-10">
        <div class="col-md-9 mx-auto">
            <h4>Modificar Usuario</h4>
            <form>
                <div class="form-group">
                    <label for="nombre">Nombres</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuarioActual.nombre">
                </div>

                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="usuarioActual.apellido">
                </div>

                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                    <input type="text" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" [(ngModel)]="usuarioActual.fecha_nacimiento">
                </div>

                <div class="form-group">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" class="form-control" id="domicilio" name="domicilio" [(ngModel)]="usuarioActual.domicilio">
                </div>

                <div class="form-group">
                    <label for="nacionalidad">Nacionalidad</label>
                    <input type="text" class="form-control" id="nacionalidad" name="nacionalidad" [(ngModel)]="usuarioActual.nacionalidad">
                </div>

                <div class="form-group">
                    <label for="mail">Mail</label>
                    <input type="text" class="form-control" id="mail" name="mail" [(ngModel)]="usuarioActual.mail">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="usuarioActual.password">
                </div>

                <div class="form-group">
                    <label for="sobre_mi">Sobre mi...</label>
                    <input type="text" class="form-control" id="sobre_mi" name="sobre_mi" [(ngModel)]="usuarioActual.sobre_mi">
                </div>

                <div class="form-group">
                    <label for="ocupacion">Ocupación</label>
                    <input type="text" class="form-control" id="ocupacion" name="ocupacion" [(ngModel)]="usuarioActual.ocupacion">
                </div>

                <div class="form-group">
                    <label for="imagen_background_header">Imágen de Banner</label>
                    <input type="text" class="form-control" id="imagen_background_header" name="imagen_background_header" [(ngModel)]="usuarioActual.imagen_background_header">
                </div>

                <div class="form-group">
                    <label for="imagen_perfil">Imágen de perfil</label>
                    <input type="text" class="form-control" id="imagen_perfil" name="imagen_perfil" [(ngModel)]="usuarioActual.imagen_perfil">
                </div>

                <div class="form-group">
                    <label for="perfil">Perfil</label>
                    <input type="text" class="form-control" id="perfil" name="perfil" [(ngModel)]="usuarioActual.perfil">
                </div>
                <br>

                <button class="btn btn-danger" (click)="borrar()">Eliminar</button>
                <button class="btn btn-success" [routerLink]="['/']">Cancelar</button>
            </form>
        </div>
    </div>
</div>
