<div class="divisor"></div>
<div class="conteiner">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <!--<div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">-->
                       
                        <table>
                                <p>Copyright</p>
                                <p>Mendiolaza</p>
                                <p>Cordoba</p>
                                <p>Argentina</p>
                                <p>Mayo 2022</p>
                        </table>                   
                <!--</div>-->            
        </div>
</div>