<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6d8d6c;">
    <div class="container-fluid justify-content-start">
        <img id="img_logo" class="rounded float-start mx-5" alt="APlogo" src="assets/img/APlogo.png">
        <a class="navbar-brand mx-1">{{usuarioActual.nombre}}</a><a
            class="navbar-brand mx-1">{{usuarioActual.apellido}}</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5">
                <li class="nav-item" *ngFor="let redes of listaRedesSociales">
                    <a class="nav-link active" aria-current="page" [href]="redes.link"><img id="img_iconos"
                            [src]="redes.imagen" [alt]="redes.red"></a>
                </li>

                <li class="nav-item" *ngIf="isLogged">
                    <a class="nav-link" [routerLink]="['/redessociales/listar']">
                        <button class="btn btn-dark btn-sm">
                            <i class="fa-solid fa-pen-to-square" >
                            </i> Editar</button></a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <a class="nav-link" routerLink="/"><button class="btn btn-info btn-block btn-sm">
                    <i class="fas fa-home"></i> Inicio</button></a>
            </form>

            <form class="form-inline my-2 my-lg-0" *ngIf="!isLogged">
                <a class="nav-link" routerLink="/login"><button class="btn btn-success btn-block btn-sm">
                        <i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesión</button></a>
            </form>

            <form class="form-inline my-2 my-lg-0" *ngIf="isLogged" (click)="onLogOut()">
                <a class="nav-link"><button class="btn btn-warning btn-block btn-sm">
                        <i class="fas fa-door-open"></i> Cerrar Sesión</button></a>
            </form>
        </div>
    </div>
</nav>