<app-menu></app-menu>
<div class="container-fluid">
    <div class="card shadow mb-4">
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="usuarios" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Foto de Perfil</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Domicilio</th>
                            <th>Nacionalidad</th>
                            <th>Mail</th>
                            <th>Ocupación</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of listaUsuarios">
                            <td><img class="rounded-circle" id="img_thumbnail" [src]="usuario.imagen_perfil" alt="Imagen Perfil"></td>
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.apellido}}</td>
                            <td>{{usuario.fecha_nacimiento}}</td>
                            <td>{{usuario.domicilio}}</td>
                            <td>{{usuario.nacionalidad}}</td>
                            <td>{{usuario.mail}}</td>
                            <td>{{usuario.ocupacion}}</td>                                
                        </tr>
                        
                    </tbody>
                </table>
                <button class="btn btn-success" [routerLink]="['/']"><i class="fa-solid fa-arrow-left-long"></i> Volver</button>
            </div>
        </div>
    </div>
</div>