<div class="divisor"></div>
<div class="conteiner">
        <div class="card mat-card">
                <div id="educacion">
                        <div
                                class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                                <h4>Educación</h4>
                                <i class="bi bi-plus-circle-fill" *ngIf="isLogged" [routerLink]="['/educacion/crear']"></i>
                        </div>
                </div>
                        <ul class="items-list">
                                <!-- declaro la variable educacion que recorre la listaEducacion !-->
                                <li *ngFor="let educacion of listaEducacion">
                                        <!-- directiva estructural recorre la estructura  !-->
                                        <img [src]="educacion.imagen" [alt]="educacion.institucion" width=50px
                                                weight=50px>
                                        <h6>{{educacion.institucion}}
                                                <i class="fa-solid fa-pen-to-square" *ngIf="isLogged" 
                                                        [routerLink]="['/educacion/editar/',educacion.id]"></i>
                                                <i class="bi bi-trash-fill" *ngIf="isLogged"
                                                        [routerLink]="['/educacion/borrar/',educacion.id]"></i>
                                        </h6>
                                        <p class="secundario">{{educacion.titulo}}</p>
                                        <p class="principal"><time>{{educacion.anio_inicio }}</time> -
                                                <time>{{educacion.anio_fin }}</time>
                                        </p>
                                        <p class="secundario">Promedio: {{educacion.promedio}}</p>
                                        <p class="secundario">{{educacion.estado}}</p>
                                        <hr>
                                </li>
                        </ul>
                </div>
        </div>