<div class="divisor">

</div>
<div class="conteiner">
        <div class="row">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <h2>Idiomas</h2>
                        <i class="bi bi-plus-circle-fill" [routerLink]="['/idiomas/crear']"></i>
                </div>

                <ul>
                        <!-- declaro la variable educacion que recorre la listaEducacion !-->
                        <li *ngFor="let idiomas of listaIdiomas">
                                <!-- directiva estructural recorre la estructura  !-->
                                <h4>{{idiomas.idioma}}
                                        <i class="bi bi-pencil-fill" [routerLink]="['/idiomas/editar/',idiomas.id]"></i>
                                        <i class="bi bi-trash-fill" [routerLink]="['/idiomas/borrar/',idiomas.id]"></i>
                                </h4>
                                <p class="secundario">{{idiomas.porcentaje_oral}} % Oralidad</p>
                                <p class="secundario">{{idiomas.porcentaje_escrita}} % Escritura</p>
                                <hr>
                        </li>

                </ul>
        </div>
</div>