<div class="divisor"></div>
<div class="conteiner">
        <div class="card mat-card">
                <div id="idiomas">
                        <div
                                class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                                <h4>Idiomas</h4>
                                <i class="bi bi-plus-circle-fill" [routerLink]="['/idiomas/crear']"></i>
                        </div>
                </div>
                <ul>
                        <!-- declaro la variable educacion que recorre la listaEducacion !-->
                        <li *ngFor="let idiomas of listaIdiomas">
                                <!-- directiva estructural recorre la estructura  !-->
                                <h6>{{idiomas.idioma}}
                                        <i class="bi bi-pencil-fill" [routerLink]="['/idiomas/editar/',idiomas.id]"></i>
                                        <i class="bi bi-trash-fill" [routerLink]="['/idiomas/borrar/',idiomas.id]"></i>
                                </h6>
                                <p class="secundario">{{idiomas.porcentaje_oral}} % Oralidad</p>
                                <p class="secundario">{{idiomas.porcentaje_escrita}} % Escritura</p>
                                <hr>
                        </li>

                </ul>
        </div>
</div>