
<h4>Experiencia Laboral</h4>
<div class="conteiner">

        <ul>
                <li *ngFor="let experiencia of listaExperiencia">
                        <img src= "{{experiencia.img}}" alt="{{experiencia.empresa}}" width=50px weight=50px>
                        <p class="principal">Posición: {{experiencia.posicion}}</p>
                        <p class="secundario">Empresa: {{experiencia.empresa}}</p>
                        <p class="secundario">Inicio: {{experiencia.inicio}}</p>
                        <p class="secundario">Fin: {{experiencia.fin}}</p>
                        <hr>
                </li>

        </ul>
</div>