
<div class="divisor"></div>
<div class="conteiner">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <h4>Experiencia Laboral</h4>                       
                </div>
                <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <i class="bi bi-pencil-fill"></i>
                        <i class="bi bi-plus-circle-fill"></i>
                        <i class="bi bi-trash-fill"></i>
                </div>                
        </div>
    
        <ul>
                <li *ngFor="let experiencia of listaExperiencia">
                        <img src= "{{experiencia.img}}" alt="{{experiencia.empresa}}" width=50px weight=50px>
                        <p class="principal">Posición: {{experiencia.posicion}}</p>
                        <p class="secundario">Empresa: {{experiencia.empresa}}</p>
                        <p class="secundario">Inicio: {{experiencia.inicio}}</p>
                        <p class="secundario">Fin: {{experiencia.fin}}</p>
                        <hr>
                </li>

        </ul>
</div>