<div class="divisor"></div>
<div class="conteiner">
        <div class="card mat-card">
                <div id="skills">
                        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                                <h4>Hard & Soft Skills</h4>                                
                                <i class="bi bi-plus-circle-fill" *ngIf="isLogged" [routerLink]="['/skills/crear']"></i>
                        </div>
                </div>
                <ul class="list-group list-group-horizontal">
                        <h6>Hard Skills</h6>

                        <li *ngFor="let skills_hard of lista_Skills_Hard">
                                <i class="bi bi-pencil-fill" *ngIf="isLogged" [routerLink]="['/skills_hard/editar/',skills_hard.id]"></i>
                                <i class="bi bi-trash-fill" *ngIf="isLogged" [routerLink]="['/skills_hard/borrar/',skills_hard.id]"></i>
                                <button class="btn btn-outline-success mx-3" (click)="crearGrafico(skills_hard.habilidad, skills_hard.porcentaje)">{{skills_hard.habilidad}} {{skills_hard.porcentaje}}%</button>
                                
                        </li>
                        <h6>Soft Skills</h6>
                        
                        <li *ngFor="let skills_soft of lista_Skills_Soft">
                                <i class="bi bi-pencil-fill" *ngIf="isLogged" [routerLink]="['/skills_soft/editar/',skills_soft.id]"></i>
                                <i class="bi bi-trash-fill" *ngIf="isLogged" [routerLink]="['/skills_soft/borrar/',skills_soft.id]"></i>
                                <button class="btn btn-outline-success mx-3" (click)="crearGrafico(skills_soft.habilidad, skills_soft.porcentaje)">{{skills_soft.habilidad}} {{skills_soft.porcentaje}}%</button>
                        </li>
                </ul>
                <div id="chart_div" class="mx-auto" style="width: 200px;"></div>
        </div>