<div class=" container">
    <div class="row mt-10">
      <div class="col-md-9 mx-auto">
        <h4>Alta Usuario</h4>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombres *</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombres"
                     name="nombre" [(ngModel)]="nombre" required>
                </div>

                <div class="form-group">
                    <label for="apellido">Apellido *</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Apellido"
                     name="apellido" [(ngModel)]="apellido" required>
                </div>

                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                    <input type="text" class="form-control" id="fecha_nacimiento" placeholder="Fecha de Nacimiento"
                     name="fecha_nacimiento" [(ngModel)]="fecha_nacimiento">
                </div>

                <div class="form-group">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" class="form-control" id="domicilio" placeholder="Domicilio"
                     name="domicilio" [(ngModel)]="domicilio">
                </div>

                <div class="form-group">
                    <label for="nacionalidad">Nacionalidad</label>
                    <input type="text" class="form-control" id="nacionalidad" placeholder=" Nacionalidad"
                     name="nacionalidad" [(ngModel)]="nacionalidad">
                </div>

                <div class="form-group">
                    <label for="mail">Mail *</label>
                    <input type="text" class="form-control" id="mail" placeholder="Mail"
                     name="mail" [(ngModel)]="mail" required>
                </div>

                <div class="form-group">
                    <label for="password">Password *</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                     name="password" [(ngModel)]="password" required>
                </div>

                <div class="form-group">
                    <label for="repetirpassword">Reingrese Password *</label>
                    <input type="password" class="form-control" id="repetirpassword" placeholder="Reingrese Password"
                     name="repetirpassword" [(ngModel)]="repetirpassword"required>
                </div>

                <div class="form-group">
                    <label for="sobre_mi">Sobre mi...</label>
                    <input type="text" class="form-control" id="sobre_mi" placeholder="Sobre mi..."
                     name="sobre_mi" [(ngModel)]="sobre_mi">
                </div>

                <div class="form-group">
                    <label for="ocupacion">Ocupación</label>
                    <input type="text" class="form-control" id="ocupacion" placeholder="Ocupación"
                     name="ocupacion" [(ngModel)]="ocupacion">
                </div>

                <div class="form-group">
                    <label for="imagen_background_header">Imágen de Banner</label>
                    <input type="text" class="form-control" id="imagen_background_header" placeholder="Link de una imágen para el banner"
                     name="imagen_background_header" [(ngModel)]="imagen_background_header">
                </div>

                <div class="form-group">
                    <label for="imagen_perfil">Imágen de perfil</label>
                    <input type="text" class="form-control" id="imagen_perfil" placeholder="Link de una imágen para el perfil"
                     name="imagen_perfil" [(ngModel)]="imagen_perfil">
                </div>

                <div class="form-group">
                    <label for="perfil">Perfil</label>
                    <input type="text" class="form-control" id="perfil" placeholder="Perfil Ej Admin/User"
                     name="perfil" [(ngModel)]="perfil">
                </div>
                <hr>
                <p>* Campos Obligatorios</p>
          <br>

          <button class="btn btn-outline-success btn-block mx-3" [disabled]="!f.valid">Crear</button>
          <button class="btn btn-danger mx-3" [routerLink]="['/']">Cancelar</button>
        </form>
      </div>
    </div>
  </div>