<div class="conteiner">
    <div class="row mt-10">
        <div class="col-md-9 mx-auto">
            <h4>Borrar Hard Skill</h4>
            <form>
                <div class="form-group">
                    <label for="habilidad">Habilidad</label>
                    <input type="text" class="form-control" id="habilidad" name="habilidad"
                        [(ngModel)]="skillActual.habilidad">
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje"
                        [(ngModel)]="skillActual.porcentaje">
                </div>
                <br>

                <button class="btn btn-danger mx-4" (click)="borrar()">Eliminar</button>
                <button class="btn btn-success" [routerLink]="['/']">Cancelar</button>
            </form>
        </div>
    </div>
</div>