<!--<div class="conteiner-fluid">
    <div class="row align-items-center justify-content-center" id="header">
        
        <div class="col">
            <img id="img_iconos" class="rounded float-start" alt= "APlogo"  src="assets/img/APlogo.png">
        </div>
        <div class="col">
            <ul>
                <li *ngFor="let acercade of listaAcercade">
                    <h4>{{acercade.nombre}} {{acercade.apellido}}</h4>
                </li>
            </ul>
        </div>
        
        <ul>
            <li *ngFor="let redes of listaRedesSociales">
                
                <div class="col">
                    <a tilte="" [href]="redes.link"><img [src]="redes.imagen" [alt]="redes.red"></a>
                </div>
                                
            </li>
        </ul> 
        <div class="col">
            <button type="login" class="btn btn-secondary">Login</button>
        </div>
    </div>

    <div class= "row" id="banner">
        <div class="col">
            <ul>
                <li *ngFor="let acercade of listaAcercade">
                    <img id="img_banner" [src]="acercade.imagen_background_header" class="img-responsive" alt="Banner">
                </li>
            </ul>
        </div>
    </div>    
    
 
</div>
<app-acercade></app-acercade>-->

<!--<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-skills></app-skills>
<app-idiomas></app-idiomas>-->
<app-cursos></app-cursos>
<!--<app-proyectos></app-proyectos>
<app-footer></app-footer>-->
