div#header{
    margin:20px;
    background-color:rgb(135, 221, 157);
    border-radius: 15px;
    border :1px solid rgb(25, 13, 78);
    
}

div#banner{
    margin:7px;
    width:1152px;
    height: 300px;
    

}

img#img_iconos{
    
    width:90px;
    height:50px;

}

input#input_iconos{
    
    width:25px;
    height:25px;
        
}


img#img_banner{
    
    width: 97%;     /*Ancho* 97%*/
    height: 300px;  /* va ok Altura 300px*/
    margin-right: 80px;
    /*max-width: 1600px;*/
    /* min-width: 100px;*/
    border-radius: 15px;
    z-index:0;
    position: absolute;   /*va ok*/
}
   