<div class="conteiner-fluid">
    <div class="row align-items-center justify-content-center" id="header">
        
        <div class="col">
            <img id="img_iconos" class="rounded float-start" alt= "APlogo"  src="assets/img/APlogo.png">
        </div>
        <div class="col-6">
            <h4>Sebastián F. Veloce</h4>
        </div>
        <div class="col">
            <input id="input_iconos" type="image" src="assets/img/email.svg" alt="Mail" href="mailto:seba.veloce@gmail.com">
        </div>
        <div class="col">
            <input  id="input_iconos" type="image" src="assets/img/telefono-sonando.svg" alt="Telefono" href="tel:+5493513769813">
        </div>
        <div class="col">
            <input id="input_iconos" type="image" src="assets/img/twitter.svg" alt="Twitter" href="http://twitter.com/">
        </div>
        <div class="col">
            <input id="input_iconos" type="image" src="assets/img/instagram.svg" alt="Instagram" href="http://instagram.com">
        </div>
        <div class="col">
            <button type="login" class="btn btn-secondary">Login</button>
        </div>
    </div>

    <div class= "row" id="banner">
        <div class="col">
            <img id="img_banner" src="assets/img/banner.jpg" class="img-responsive" alt="Banner">
            
        </div>
    </div>    
    

</div>
<app-acercade></app-acercade>
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-skills></app-skills>
<app-cursos></app-cursos>
<app-proyectos></app-proyectos>
<app-footer></app-footer>