
<div class="conteiner-fluid" id="acercade">
    <div class="row align-items-center justify-content-center">
        <div class="col">
            <i class="bi bi-pencil-fill"></i>
        </div>
        <div class="col">
            <i class="bi bi-plus-circle-fill"></i>
        </div>
        <div class="col">
            <i class="bi bi-trash-fill"></i>
        </div>
        <div class="col-2" id="acerca_nombre" >
            <p class="text-center align-middle font-weight-bold">Sebastian Franco VELOCE</p>
            <p class="text-center align-middle">Full Stack Developer Jr.</p>
        </div>
    
        <div class="col-7">
                <h4 class="font-weight-bold">Acerca de ...</h4>
                <ul>
                    <li>Técnico Electrónico</li>
                    <li>Técnico Especialista en equipos de Core Móvil.</li>
                    <li>Técnico en plataformas de Voz.</li>
                    <li>Técnico Especialista en Acceso de Datos.</li>
                    <li>Técnico en Core Datos.</li>
                </ul>
        </div>
    </div>
</div>
