<div class="conteiner">

    <div class="row " id="banner">
        <div class="col">
            <ul>
                <li>
                    <img id="img_banner" [src]="usuarioActual.imagen_background_header">
                </li>
            </ul>
        </div>
    </div>

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="nav col-12 col-lg-10 me-lg-auto mb-2 justify-content-center mb-md-0">
            <h4>Acerca de ...
                <a class="btn btn-dark btn-sm" [routerLink]="['/usuarios/editar/',1]" *ngIf="isLogged">
                    <i class="fa-solid fa-pen-to-square"></i> Editar</a>
            </h4>
        </div>

    </div>


    <ul>
        <li>

            <div class="row">
                <div class="col-3 position-relative" id="acerca_nombre">
                    <img id="img_thumbnail" [src]="usuarioActual.imagen_perfil"
                        class="rounded-circle position-absolute bottom-100 end-50" alt="thumbnail">
                    <p class="nombre bold">{{usuarioActual.nombre}} {{usuarioActual.apellido}}
                        <button class="btn btn-dark btn-sm" [routerLink]="['/usuarios/editar_img/',1]" *ngIf="isLogged">
                            <i class="fa-solid fa-pen-to-square"></i> Editar</button>
                    </p>
                    <p class="nombre">{{usuarioActual.ocupacion}}</p>

                </div>
                <div class="col-1">
                </div>
                <div class="col-8">
                    <p>{{usuarioActual.sobre_mi}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>