<div class="divisor"></div>
<div class="conteiner">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="nav col-12 col-lg-8 me-lg-auto mb-2 justify-content-center mb-md-0">
            <h4>Acerca de ...</h4>                       
        </div>
        <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <i class="bi bi-pencil-fill"></i>
            <i class="bi bi-plus-circle-fill"></i>
            <i class="bi bi-trash-fill"></i>
        </div>                
    </div>



    <div class="row">
       <div class="col-2" id="acerca_nombre" > 
            <p class="text-center align-middle bold">Sebastián Franco VELOCE</p>
            <p class="text-center align-middle">Full Stack Developer Jr.</p>
        </div>
    
        <div class="col">
            <p class="text-center align-middle">Tengo una gran familia. Me gustan las actividades al aire libre como caminar, andar en bicicleta. Disfruto de las pequeñas cosas...</p>
        </div>
    </div>    
</div>
