div.conteiner-fluid#acercade{
    margin-left: 20px;
    margin-right: 40px;
    border:2px outset #ccc;
    
    border-radius:15px;
    /*padding-right: 40px;*/
    /*background-color:rgb(236, 235, 232);*/
    /*margin:30px;*/   /* Margen arriba y a la izquierda*/
        
}
div#banner{
    /*margin:7px;*/
    width:1152px;
    height: 300px;
}
img#img_banner{
    
    width: 97%;     /*Ancho* 97%*/
    height: 300px;  /* va ok Altura 300px*/
    /*margin-right: 50px;
    max-width: 1600px;*/
    /* min-width: 100px;*/
    border-radius: 15px;
    z-index:0;
    position: absolute;   /*va ok*/
}

/*
#acerca_nombre{
    background-color: rgb(184, 180, 168);
}
*/

i{
    margin-left:20px;
    font-size: 15px;
}

.divisor {
    height: 1rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

.bold{
    font-weight: bold;
    
}
.nombre{
    margin-left: 50px;
} 

img#img_thumbnail{
    /*position: absolute top -300;*/
    width : 160px;      /*Ancho 160px*/
    height: auto;       /*Alto auto par mantener la relacion*/
    /*bottom: 140px;      /* desde abajo*/
    left: 50px;         /* desde la izq*/
    z-index:1;          /* traer al frente*/
}
li{
    list-style: none;
}
